<style type="text/css">
.sidenav {
			height: 100%;
			width: 220px;
			position: fixed;
			z-index: 0;
			top: 0;
			left: 0;
			background-color: #111;
			overflow-x: hidden;
			padding-top: 20px;
		}

			.sidenav a {
				padding: 6px 8px 6px 16px;
				text-decoration: none;
				font-size: 30px;
				color: #FFD700;
				display: block;
			}

				.sidenav a:hover {
					color: #f1f1f1;
				}
</style>
<div class="sidenav">
	<a href="https://medusa.trmn.org">
		<img src="https://www.trmn.org/user/themes/trmn/images/trmn-2023.png" alt="TRMN Seal" width="150px" height="150px"
			 data-src="https://www.trmn.org/user/themes/trmn/images/trmn-2023.png">
	</a>

	<a href="{% url 'landing'%}">Home</a><br>
	<a href="{% url 'personal'%}">Personal Information</a><br>
	<a href="{% url 'newgame'%}">New Game</a><br>
	<a href="{% url 'newsession'%}">New Session</a><br>
	<a href="{% url 'logout' %}">Log Out</a><br>
	<a href="{% url 'reports'%}">Reports</a><br>
	{% if person.role_id > 3 %}
	<a href="{% url 'oversight'%}">Oversight</a><br>
	{% endif %}
	{% if person.role_id > 4 %}
	<a href="/admin">Admin</a>
	<br><br><br><br>
	{% endif %}

	<br><br><br><br>

</div>
