
<section class="nav">
    <div data-v-4fe12f68="" class="container">
        <div data-v-3e7d76b1="" data-v-4fe12f68="" class="modal">
            <div data-v-3e7d76b1="" class="modal-background">

            </div>
        </div>
        <nav data-v-4fe12f68="" id="nav" class="navbar is-dark">
            <div data-v-4fe12f68="" class="navbar-brand">
                <a data-v-4fe12f68="" role="button" class="navbar-burger burger">
                    <span data-v-4fe12f68="" aria-hidden="true">


                    </span>
                    <span data-v-4fe12f68="" aria-hidden="true">

                    </span>
                </a>
            </div>
            <div data-v-4fe12f68="" class="navbar-menu fs-3">
                <div data-v-4fe12f68="" class="navbar-start">
                    <a data-v-4fe12f68="" class="navbar-item px-4" href="{% url 'landing'%}">Home</a>
                    <a data-v-4fe12f68="" class="navbar-item px-4" href="{% url 'personal'%}">Personal Information</a>
                    <a data-v-4fe12f68="" class="navbar-item px-4" href="{% url 'newgame'%}">New Game</a>
                    <a data-v-4fe12f68="" class="navbar-item px-4" href="{% url 'newsession'%}">New Session</a>
                    <a data-v-4fe12f68="" class="navbar-item px-4" href="{% url 'reports'%}">Reports</a>

                    {% if person.role_id > 3 %}
                    <a data-v-4fe12f68="" class="navbar-item px-4" href="{% url 'oversight'%}">Oversight</a>
                    {% endif %}
                    {% if person.role_id > 4 %}
                    <a data-v-4fe12f68="" class="navbar-item px-4" href="/admin">Admin</a>
                    {% endif %}
                    <a data-v-4fe12f68="" class="navbar-item px-4" href="{% url 'logout' %}">Log Out</a>
                    <!---->
                </div>
            </div>
        </nav>
    </div>
</section>
