{% extends 'app/base.html' %}
{% block nav %}
  {% include 'app/ReportNav.html' %}
{% endblock %}
{% block content %}
<main>
    <center>
        <div class="border border-white container-fluid">

            <form methond=POST>
                {% csrf_token %}
                <table>
                    <thead>
                        <tr>
                            <th>Chapter</th>
                            <th>Fleet</th>
                            <th>Start Date/Time</th>
                            <th>Ending Date/Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ form.chapter }}</th>
                            <th>{{ form.fleet }}</th>
                            <th>{{ form.startdate }}</th>
                            <th>{{ form.enddate }}</th>
                        </tr>
                    </tbody>
                </table>
                <br />
                <input class="btn btn-secondary" type="submit" value="Submit">
            </form>
        </div>
    </center>
    <br>
    <input class="btn btn-secondary" type="submit" value="Print">
    <div class="container-fluid">
        <center>
            <h3>Marksmenship Awards <br> for <br> {{firstdate}} to {{enddate}}</h3>
        </center>
        <br>
        <a>{{y.fleet}}</a><br>
        {% for x in y %}
        <a>&nbsp&nbsp&nbsp&nbsp{{y.chapter}}</a><br>
        {% for z in y %}
        <a>&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp;{{y.name}}&nbsp;&nbsp;&nbsp;&nbsp;{{y.score}}</a><br>
        {% endfor %}
        {% endfor %}

    </div><br><br><br>

</main>
{% endblock %}