{% extends 'app/base.html' %}
{% block nav %}
  {% include 'app/BaseNav.html' %}
{% endblock %}
 
{% block content %}
	<br/>
	<h2>Current Marksmanship Status</h2>
	<br/><br/>
	<form method="post" class="from-group">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <b>Name:</b> {{person.firstname}} {{person.lastname}}
              </div>
              <div class="col-sm">
                <b>Chapter:</b> {{person.chapter}} 
              </div>
            </div>
          </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <b>Email:</b> {{person.emailaddress}}    
                </div>
                <div class="col-sm">
                    <b>Service:</b> {{person.branch}}
                </div>
            </div>
        </div>
    </form>
	<br/><br/>
<table class="table table-bordered, text-white">
<tr>
<th>Category</th>
<th>Total Points</th>
<th>   </th>
<th>Marksman</th>
<th>Sharpshooter</th>
<th>Expert</th>
<th>High Expert</th>
</tr>
    {% for tc in credits  %}
<tr>
    {% if tc.weapon_name == "Pistol" or tc.weapon_name == "Rifle" %}
    <td>{{ tc.weapon_name }}</td>
    <td>{{ tc.weapon_total }}</td>
    <td></td>
    {% if tc.marksman != None %}
    <td>{{ tc.marksman | date:"F d, Y" }}</td>
    {% else %}
    <td></td>
    {% endif %}
    {% if tc.sharpshooter != None %}
    <td>{{ tc.sharpshooter | date:"F d, Y" }}</td>
    {% else %}
    <td></td>
    {% endif %}
    {% if tc.expert != None %}
    <td>{{ tc.expert | date:"F d, Y" }}</td>
    {% else %}
    <td></td>
    {% endif %}
    {% if tc.high_expert != None %}
    <td>{{ tc.high_expert | date:"F d, Y" }}</td>
    {% else %}
    <td></td>
    {% endif %}
    {% endif %}
</tr>
    {% endfor %}
</table> 
<br/><br/>
{% endblock %}



