{% extends 'app/BaseTemplate.html' %}
 
{% block content %}
	<br/>
	<h2>Current Marksmanship Status</h2>
	<br/><br/>
	<form method="post" class="from-group">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <b>Name:</b> {{person.firstname}} {{person.lastname}}
              </div>
              <div class="col-sm">
                <b>Chapter:</b> {{person.chapter}} 
              </div>
            </div>
          </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <b>Email:</b> {{person.emailaddress}}    
                </div>
                <div class="col-sm">
                    <b>Service:</b> {{person.branch}}
                </div>
            </div>
        </div>
    </form>
	<br/><br/>
<table class="table table-bordered, text-white">
<tr>
<th>Category</th>
<th>Total Points</th>
<th>   </th>
<th>Marksman</th>
<th>Sharpshooter</th>
<th>Expert</th>
<th>High Expert</th>
</tr>
<tr>
<td>Pistol</td>
<td></td>
<td>   </td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Rifle</td>
<td></td>
<td>   </td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table> 
<br/><br/>
{% endblock %}



