{% extends 'app/base.html' %}
{% block nav %}
  {% include 'app/BaseNav.html' %}
{% endblock %}
 
{% block content %}
<h2>Current Marksmanship Status</h2>
	<br><br>
	<form method="post" class="from-group">
	<p> <b>First Name:</b>David<br>   <b>Last Name:</b> Westover<br> <b>Email:</b> dr.westover@gmai.com</p>
	<br><br>
	</form>
<table class="table table-bordered, text-white">
<tr>
<th>Category</th>
<th>Total Points</th>
<th>   </th>
<th>Marksman</th>
<th>Sharpshooter</th>
<th>Expert</th>
<th>High Expert</th>
</tr>
<tr>
<td>Pistol</td>
<td></td>
<td>   </td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<tr>
<td>Rifle</td>
<td></td>
<td>   </td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
		</table> <br><br>
<table class="table table-bordered, text-white">
<tr>
<th>Category</th>
<th>Total Points</th>
<th>   </th>
<th>Qualification 1</th>
<th>Qualification 2</th>
<th>Qualification 3</th>
<th>Qualification 4</th>
</tr>
<tr>
<td>Grenade</td>
<td></td>
<td>   </td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Flechette Gun</td>
<td></td>
<td>   </td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Plasma Carbine</td>
<td></td>
<td>   </td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Tri-Barrel</td>
<td></td>
<td>   </td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>

{% endblock %}


