{% extends 'app/base.html' %}
{% block nav %}
  {% include 'app/ReportNav.html' %}
{% endblock %}
{% block title %}
    MC Member Report
{% endblock title %}
{% block name %}
    Member's Complete Gaming Report'
{% endblock name%}
{% block content %}
	<main>
	
		<div class="border border-white container-fluid">
			<form action='' method=POST>
				{% csrf_token %}
				<div class="d-grid gap-2 mx-auto justify-content-center">
					<table>
						<thead>
							<tr>
								<th class="px-5">Fleet</th>
								<th class="px-5">Chapter</th>
								<th class="px-5">Start Date/Time</th>
								<th class="px-5">Ending Date/Time</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="px-5">{{person.chapter.fleet}}</td>
								<td class="px-5">{{person.chapter}}</td>
								<td class="px-5">{{ form.startdate }}</td>
								<td class="px-5">{{ form.enddate }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br />
				<div class="d-grid gap-2  mx-auto justify-content-center">
					<input class="btn btn-secondary " type="submit" value="Submit">
				</div>
			</form>
		</div>
		<br>
		<!--<input class="btn btn-secondary" type="submit" value="Print">-->

		<div class="container-fluid">
			{% if history %}
				<div class="d-grid gap-2 mx-auto justify-content-center">
					<b>Marksmanship Session Record for {{person.firstname}}&nbsp;{{person.lastname}} </b>
				</div>
				<div class="d-grid gap-2 mx-auto justify-content-center">
					from
				</div>
				<div class="d-grid gap-2 mx-auto justify-content-center">
					{{startdate | date:"m/d/y"}} to {{enddate  | date:"m/d/y"}}
				</div>
				<br>
				<div class="d-grid gap-2 mx-auto justify-content-center">
					<table class="table table-striped ">
						<thead>
							<tr>
								<th class="px-3">Start Date/Time</th>
								<th class="px-3">End Date/Time</th>
								<th class="px-3">Game</th>
								<th class="px-3">Weapon</th>
								<th class="px-3">Mode</th>
								<th class="px-3">Turns</th>
								<th class="px-3">Credits</th>
								<th class="px-3">Players</th>
							</tr>
						</thead>
						<tbody>
							{% for Result in history %}
							<tr>
								<td class="px-3">{{ Result.startdate | date:"m/d/Y H:i" }}</td>
								<td class="px-3">{{ Result.enddate | date:"m/d/Y H:i"}}</td>
								<td class="px-3">{{ Result.game }}</td>
								<td class="px-3">{{ Result.weapon }}</td>
								<td class="px-3">{{ Result.mode }}</td>
								<td class="px-3">{% if Result.turnsplayed %} {{ Result.turnsplayed }}  {% endif %}</td>
								<td class="px-3">{{ Result.credits }}</td>
								<td class="px-3">{{ Result.players }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% endif %}
			</div>
		<br>
	</main>
{% endblock %}
