{% extends 'app/base.html' %}
{% block nav %}
  {% include 'app/BaseNav.html' %}
{% endblock %}
{% block title %}
    MC New Session
{% endblock title %}
{% block name %}
    Add New Gaming Session
{% endblock name%}
{% block content %}

    {% if submitted %}
        <br />
        <br />
        <h1>Your session was submitted successfully!</h1>
    {% else %}
        {{ message }}
        <p class="d-grid gap-2 mx-auto justify-content-center fs-2 fw-bold">
            Game Information
        </p>
        <br />
        <form action='' method=POST>
            {% csrf_token %}
            
            <div class="row">
                <div class="col">
                    <div class="d-grid gap-2 mx-auto justify-content-center">
                        <div class="mb-2 fw-bold"">
                            <label for="StartDate"> Starting Date and Time:</label>
                            {{ form.startdate }}
                        </div>
                        <div class="mb-2 fw-bold">
                            <label for="EndDate"> Ending Date and Time:</label>
                            {{ form.enddate }}
                        </div>
                        <div class="mb-2 fw-bold">
                            <label for="GameName"> Name of the Game Played:</label><br />
                            {{ form.game }}
                        </div>
                        <div class="mb-2 fw-bold">
                            <label>Select the mode of game play:</label><br>
                            {{ form.playmode }}
                        </div>
                        <div class="mb-2 fw-bold" id="hide" style="display:none">
                            <label for="TurnsPlayed">Enter the number of turns played:</label>
                            {{ form.turnsplayed }}
                        </div>
                    </div>
                    <script type="text/javascript">
                        function yesnoCheck() {
                            if (document.getElementById('id_playmode_1').checked) {
                                document.getElementById('hide').style.display = 'block';
                            } else {
                                document.getElementById('hide').style.display = 'none';;
                            }
                        }
                    </script>
                    {% if form.errors %}
                    {% for error in form.errors.as_data.values %}
                    {% for data in error.0 %}
                    {{ data }}
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                    {%comment%}
                    <button type="reset" name="Cancel" value="Cancel" class="btn btn-danger btn-lg btn-block" href="{% url 'landing' %" }>Cancel</button><br>
                    {%endcomment%}
                    <div class="d-grid gap-2 mx-auto justify-content-center">
                        <br />
                        <button type="submit" name="save" value="save" class="btn btn-primary btn-lg btn-block">Save</button><br><br>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2 mx-auto justify-content-center">
                        <h3><b>TRMN Participants:</b></h3>
                        <p class="text-center fw-bold">(you are already included)</p>
                        {{ formset1.as_p }}
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2 mx-auto justify-content-center">
                        <h3><b>Non-TRMN Participants:</b></h3>
                        {{ formset2.as_p }}
                    </div>
                </div>
            </div>
        </form>
    {% endif %}


{% endblock %}
{% block script %}

<script>

    $('.basicAutoComplete').autoComplete()

    $('.dropdown-menu').css({ 'top': 'auto', 'left': 'auto' })

</script>

{% endblock %}
