{% extends 'app/BaseTemplate.html' %}
 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
        <h2>Game Information</h2>
        <label for="StartDate"> Starting Date and Time:</label>
        <input type="datetime-local" class="form-control" id="StartDate" name="StartDate"><br>
        <label for="EndDate"> Ending Date and Time:</label>
        <input type="datetime-local" class="form-control" id="EndDate" name="EndDate"><br>
        <label for="GameName"> Name of the Game Played:</label>
        <input type="text" class="form-control" id="GameName" name="GameName"><br>                    
        <ledgend>Select the mode of game play:</ledgend><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="TimeBased" name=”GameMode” value=”Time” onclick="javascript:yesnoCheck();" checked>
            <label class="form-check-label" for="TimeBased">Time Based</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="TurnBased" name=”GameMode” value=”Turn” onclick="javascript:yesnoCheck();">
            <label class="form-check-label" for="TurnBased">Turn Based</label><br>
        </div>
        <br><br>

        <div id="hide" style="display:none" >
            <label for="TurnsPlayed">Enter the number of turns played:</label>
            <input id="TurnsPlayed" class="form-control" name="TurnsPlayed" type="text" />
            <br><br>
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript">
            function yesnoCheck() {
                if (document.getElementById('TurnBased').checked) {
                    document.getElementById('hide').style.display = 'block';
                } else {
                    document.getElementById('hide').style.display = 'none';;
                }
            }
        </script>
        
        <button type="cancel" name="Cancel" value="Cancel" class="btn btn-danger btn-lg btn-block">Cancel</button><br>
        <button type="submit" name="save" value="save" class="btn btn-primary btn-lg btn-block">Save</button><br><br>
    </div>
    <div class="col">
        <h3>TRMN Participants</h3>
        <label for="Player1">Player 1 Name:</label>
        <input id="Player1" class="form-control" name="Player1" type="text" value="David Westover"/><br>
        <label for="Player2">Player 2 Name:</label>
        <input id="Player2" class="form-control" name="Player2" type="text" /><br>
        <label for="Player3">Player 3 Name:</label>
        <input id="Player3" class="form-control" name="Player3" type="text" /><br>
        <label for="Player4">Player 4 Name:</label>
        <input id="Player4" class="form-control" name="Player4" type="text" /><br>
        <label for="Player5">Player 5 Name:</label>
        <input id="Player5" class="form-control" name="Player5" type="text" /><br>
        <label for="Player6">Player 6 Name:</label>
        <input id="Player6" class="form-control" name="Player6" type="text" /><br>
        <label for="Player7">Player 7 Name:</label>
        <input id="Player7" class="form-control" name="Player7" type="text" /><br>
        <label for="Player8">Player 8 Name:</label>
        <input id="Player8" class="form-control" name="Player8" type="text" /><br>
        <label for="Player9">Player 9 Name:</label>
        <input id="Player9" class="form-control" name="Player9" type="text" /><br>
        <label for="Player10">Player 10 Name:</label>
        <input id="Player10" class="form-control" name="Player10" type="text" /><br>
    </div>
    <div class="col">
        <h3>Non-Member Participants</h3>
        <label for="Player1">Player 1 Name:</label>
        <input id="Player1" class="form-control" name="Player1" type="text" /><br>
        <label for="Player2">Player 2 Name:</label>
        <input id="Player2" class="form-control" name="Player2" type="text" /><br>
        <label for="Player3">Player 3 Name:</label>
        <input id="Player3" class="form-control" name="Player3" type="text" /><br>
        
    </div>
  </div>
</div>




{% endblock %}
