{% extends 'app/base.html' %}
{% block nav %}
  {% include 'app/BaseNav.html' %}
{% endblock %}
{% block content %}


<h2 style="text-align: center;">Marksmanship Central Management</h2>
<br>

<form action=”” method=POST>
    {% csrf_token %}
    <div class="container-fluid ">

        <h3 style="text-align: center;">New Game Review</h3>
        <div id="g_list" style="display:block">

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Alias</th>
                        <th scope="col">Weapon</th>
                        <th scope="col">Creation Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr id="g_row{{game.id}}">
                        <td>
                            <button type="button" onclick="game_approve('{{game.id}}')" name="pushme">Approve</button>
                            <button type="button" onclick="game_choose_replace('{{game.id}}','{{game.name}}')" name="pushme2">Replace</button>
                            <button type="button" onclick="game_edit('{{game.id}}','{{game.name}}','{{game.alias}}','{{game.weapon_id}}')" name="pushme3">Edit</button>
                        </td>
                        <td> {{game.name}}</td>
                        <td> {{game.alias}}</td>
                        <td> {{game.weapon}}</td>
                        <td> {{game.createdon}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="g_replace" style="display:none">

            <span id="g_origname">This name</span><input type="hidden" id="g_origid" /><br /><br />

            Choose Library Game:<input class="form-control basicAutoComplete" style="width:350px;" type="text" data-url="/game_autocomplete/" autocomplete="off" id="g_newname" /><br /><br />

            <button type="button" onclick="game_replace()" name="replace">Replace</button><button type="button" onclick="game_addalias()" name="replace">Add Alias</button>
            <button type="button" onclick="reset_g()" name="cancel">Cancel</button>

        </div>

        <div id="g_edit" style="display:none">

            <span id="g_editorigname"></span><input type="hidden" id="g_editorigid" /><br /><br />
            Alias: <input id="g_editalias" type="text" />
            Weapon:&nbsp;<select id="g_weapon">
                <option value="1">Pistol</option>
                <option value="2">Grenade</option>
                <option value="3">Flechette Gun</option>
                <option value="4">Plasma Carbine</option>
                <option value="5">Tribarrel</option>
                <option value="6">Rifle</option>
                <option value="7">Disruptor</option>
                <option value="8">Grenade Launcher</option>
                <option value="9">Plasma Rifle</option>
            </select>
            <button type="button" onclick="game_save()" name="save">Save</button><button type="button" onclick="reset_g()" name="cancel">Cancel</button>

        </div>
               
    </div>

    <div class="container-fluid ">
        <h3 style="text-align: center;">Potential Duplicate Entry Review</h3>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Delete</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Game</th>
                    <th scope="col">Play Mode</th>
                    <th scope="col">TurnDays</th>
                    <th scope="col">Players</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                <tr>
                    <td>
                        <div class=”form-check”>
                            <input type="checkbox" class=”form-check” value={{ session.id}} name=”dups”>
                        </div>
                    </td>
                    <td> {{session.startdate}}</td>
                    <td> {{session.enddate}}</td>
                    <td> {{session.game}}</td>
                    <td> {{session.playmode}}</td>
                    <td> {{session.turnsplayed}}</td>
                    <td>
                        {% for sp in participants %}
                        {% if sp.session_id == session.id %}
                        {{sp.name}} <br />
                        {% endif %}
                        {% endfor %}
                        {% for non in nonTRMN%}
                        {% if non.session_id == session.id %}
                        {{non.name}} <br />
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class=’btn btn-secondary’ name=”two”>Delete Duplicates</button>
    </div>
    <div class="container-fluid ">

        <h3 style="text-align: center;">Other Odds and Ends</h3>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
        <button class=’btn btn-secondary’ name=”three”>Submit</button>
    </div>
</form>

        {% endblock %}

        {% block script %}

<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>


<script>

    $('.basicAutoComplete').autoComplete()

    $('.dropdown-menu').css({ 'top': 'auto', 'left': 'auto' })

    function game_approve(gameId) {

        $.get("/game_approve/", { game_id: gameId });
        rw = '#g_row' + gameId;
        $(rw).hide();
    }

    function game_choose_replace(gameId, gameName) {
        t = "Submitted Game: " + gameName;
        $('#g_origname').html(t);
        $('#g_origid').val(gameId);
        $('#g_list').hide();
        $('#g_replace').show();

    }

    function game_replace() {
        oldid = $('#g_origid').val();
        newname = $('#g_newname').val();
        $.get("/game_replace/", { old_id: oldid, new_name: newname, add_alias: false });
        rw = '#g_row' + oldid;
        $(rw).hide();
        reset_g();
    }

    function game_addalias() {
        oldid = $('#g_origid').val();
        newname = $('#g_newname').val();
        $.get("/game_replace/", { old_id: oldid, new_name: newname, add_alias: true });
        rw = '#g_row' + oldid;
        $(rw).hide();
        reset_g();
    }

    function game_edit(gameId, gameName, gameAlias, gameWeapon) {
        $('#g_weapon').val(gameWeapon);
        $('#g_editalias').val(gameAlias);
        t = "Submitted Game: " + gameName;
        $('#g_editorigname').html(t);
        $('#g_editorigid').val(gameId);
        $('#g_list').hide();
        $('#g_replace').hide();
        $('#g_edit').show();
    }

    function game_save() {
        g_id = $('#g_editorigid').val();
        g_alias = $('#g_editalias').val();
        g_weapon = $('#g_weapon').val();
        $.get("/game_save/", { game_id: g_id, alias: g_alias, weapon_id: g_weapon });
        rw = '#g_row' + g_id;
        $(rw).hide();
        reset_g();
    }

    function reset_g() {
        $('#g_list').show();
        $('#g_replace').hide();
        $('#g_edit').hide();
    }

</script>

        {% endblock %}