{% extends 'app/base.html' %}
{% block nav %}
  {% include 'app/BaseNav.html' %}
{% endblock %}
{% block title %}
    MC Oversight
{% endblock title %}
{% block name %}
    Administrative Oversight
{% endblock name%}
{% block content %}


<p class="fs-2 fw-bold text-center">Marksmanship Central Management</p>
<br>
{% if games %}
<div class="container-fluid">
    <h3 class="fs-3 fw-bold text-center">New Game Review</h3>
    <div id="g_list" style="display:block">
        <div class="d-grid gap-2  mx-auto justify-content-center">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">&nbsp;&nbsp;</th>
                        <th scope="col">Name</th>
                        <th scope="col">Alias</th>
                        <th scope="col">Weapon</th>
                        <th scope="col">Creation Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr id="g_row{{game.game_id}}">
                        <td>
                            <button type="button" class="btn btn-primary" onclick="game_approve('{{game.game_id}}')" title='Add game to library as-is' name="pushme">Approve</button>&nbsp;
                            <button type="button" class="btn btn-success" onclick="game_choose_replace('{{game.game_id}}','{{game.name}}','{{game.has_session}}')" title='Replace submitted game with game from library' name="pushme2">Replace</button>&nbsp;
                            <button type="button" class="btn btn-info" onclick="game_edit('{{game.game_id}}','{{game.name}}','{{game.alias}}','{{game.weapon.id}}')" title='Edit submitted game and add to library' name="pushme3">Edit</button>
                        </td>
                        <td></td>
                        <td> {{game.name}}</td>
                        <td> {{game.alias}}</td>
                        <td> {{game.weapon}}</td>
                        <td> {{game.createdon | date:"m/d/Y"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="g_replace" style="display:none">
        <div class="d-grid gap-2  mx-auto justify-content-center">
            <span id="g_origname">This name</span><input type="hidden" id="g_origid" /><br /><br />
            <b>Choose Library Game:</b><input class="form-control basicAutoComplete" style="width:600px;" type="text" data-url="/game_autocomplete/full/" autocomplete="off" id="g_newname" placeholder="Type name to search" /><br /><br />
            <div class="gap-2 mx-auto justify-content-center">
                <button type="button" class="btn btn-success" onclick="game_replace()" name="replace" title="Replace submitted game">Replace</button>
                <button type="button" class="btn btn-info" onclick="game_addalias()" name="addalias" title="Add sumitted game to library game alias">Add Alias</button>
                <button type="button" class="btn btn-danger" onclick="game_delete()" name="delete" id="delete_g" title="Delete submitted game">Delete</button>
                <button type="button" class="btn btn-warning" onclick="reset_g()" name="cancel">Cancel</button>
            </div>
        </div>
    </div>
    <div id="g_edit" style="display:none">
        <div class="d-grid gap-2  mx-auto justify-content-center">
            <b>Name:</b> <input type="text" id="g_editname" /><input type="hidden" id="g_editorigid" />
            <b>Alias:</b> <input id="g_editalias" type="text" />
            <b>Weapon:</b><select id="g_weapon">
                <option value="1">Pistol</option>
                <option value="2">Grenade</option>
                <option value="3">Flechette Gun</option>
                <option value="4">Plasma Carbine</option>
                <option value="5">Tribarrel</option>
                <option value="6">Rifle</option>
                <option value="7">Disruptor</option>
                <option value="8">Grenade Launcher</option>
                <option value="9">Plasma Rifle</option>
          </select>
        <br />
          <button type="button" class="btn btn-success" onclick="game_save()" name="save">Save &amp; Approve</button>
          <button type="button" class="btn btn-warning" onclick="reset_g()" name="cancel">Cancel</button>
        </div>
    </div>
</div>
<br />
{% endif %}

{% if submittedsessions %}
<div class="container-fluid" id="s_list">
    <h3 class="fs-3 fw-bold text-center">Potential Duplicate Entry Review</h3>
    <div class="d-grid gap-2  mx-auto justify-content-center">
        <table class="table table-dark" >
            <thead>
                <tr>
                    <th />
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Game</th>
                    <th scope="col">Play Mode</th>
                    <th scope="col">TurnDays</th>
                    <th scope="col">Players</th>
                </tr>
            </thead>
            <tbody>
                {% for session in submittedsessions %}
                <tr id="s_row{{session.id}}" class="submitted">
                    <td id="rvw{{session.id}}"><button type="button" class="btn btn-secondary" id="s_btn{{session.id}}" onclick="session_review('{{session.id}}','{{session.dupsessid}}')" title="Compare to saved session">Review</button></td>
                    <td id="appr{{session.id}}" style="display:none">
                        <button type="button" class="btn btn-primary" onclick="session_resolve('{{session.id}}',true)" title="Allow submitted session" >Approve</button>&nbsp;
                        <button type="button" class="btn btn-danger" onclick="session_resolve('{{session.id}}',false)" title="Reject submitted session completely">Reject</button>&nbsp;
                        <button type="button" class="btn btn-warning" onclick="document.location.reload(true)" title="Cancel this operation and return">Cancel</button>
                    </td>
                    <td> {{session.startdate | date:"m/d/Y H:i"}}</td>
                    <td> {{session.enddate | date:"m/d/Y H:i"}}</td>
                    <td> {{session.game}}</td>
                    <td> {{session.playmode}}</td>
                    <td> {{session.turnsplayed}}</td>
                    <td>
                        {% for sp in participants %}
                        {% if sp.session_id == session.id %}
                        {{sp.name}} <br />
                        {% endif %}
                        {% endfor %}
                        {% for non in nonTRMN%}
                        {% if non.session_id == session.id %}
                        {{non.name}} <br />
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                {% for c in conflictsessions %}
                <tr id="c_row{{c.id}}" style="display:none" class="conflict">
                    <td>Resolve conflict with:</td>
                    <td> {{c.startdate | date:"m/d/Y H:i"}}</td>
                    <td> {{c.enddate | date:"m/d/Y H:i"}}</td>
                    <td> {{c.game}}</td>
                    <td> {{c.playmode}}</td>
                    <td> {{c.turnsplayed}}</td>
                    <td>
                        {% for sp in participants %}
                        {% if sp.session_id == c.id %}
                        {{sp.name}} <br />
                        {% endif %}
                        {% endfor %}
                        {% for non in nonTRMN%}
                        {% if non.session_id == c.id %}
                        {{non.name}} <br />
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

        {% endblock %}

        {% block script %}

<script>

    $('.basicAutoComplete').autoComplete()

    $('.dropdown-menu').css({ 'top': 'auto', 'left': 'auto' })

    function game_approve(gameId) {

        $.get("/game_approve/", { game_id: gameId });
        rw = '#g_row' + gameId;
        $(rw).hide();
    }

    function game_delete() {
        gameId = $('#g_origid').val();
        $.get("/game_delete/", { game_id: gameId });
        rw = '#g_row' + gameId;
        $(rw).hide();
        $reset_g();
    }

    function game_choose_replace(gameId, gameName, has_session) {
        t = "<br><b>Submitted Game:</b>  " + gameName;
        $('#g_origname').html(t);
        $('#g_origid').val(gameId);
        $('#g_list').hide();
        $('#s_list').hide();
        if (has_session == 'True') { $('#delete_g').hide() }
        else { $('#delete_g').show()}
        $('#g_replace').show();

    }

    function game_replace() {
        oldid = $('#g_origid').val();
        newname = $('#g_newname').val();
        $.get("/game_replace/", { old_id: oldid, new_name: newname, add_alias: false });
        rw = '#g_row' + oldid;
        $(rw).hide();
        reset_g();
    }

    function game_addalias() {
        oldid = $('#g_origid').val();
        newname = $('#g_newname').val();
        $.get("/game_replace/", { old_id: oldid, new_name: newname, add_alias: true });
        rw = '#g_row' + oldid;
        $(rw).hide();
        reset_g();
    }

    function game_edit(gameId, gameName, gameAlias, gameWeapon) {
        $('#g_weapon').val(gameWeapon);
        $('#g_editalias').val(gameAlias);
        $('#g_editname').val(gameName);
        $('#g_editorigid').val(gameId);
        $('#g_list').hide();
        $('#g_replace').hide();
        $('#g_edit').show();
    }

    function game_save() {
        g_id = $('#g_editorigid').val();
        g_alias = $('#g_editalias').val();
        g_weapon = $('#g_weapon').val();
        g_name = $('#g_editname').val()
        $.get("/game_save/", { game_id: g_id, game_name: g_name, alias: g_alias, weapon_id: g_weapon });
        rw = '#g_row' + g_id;
        $(rw).hide();
        reset_g();
    }

    function reset_g() {
        $('#g_list').show();
        $('#s_list').show();
        $('#g_replace').hide();
        $('#g_edit').hide();
    }

    function session_review(submittedid, conflictid) {
        cr = '#c_row' + conflictid;
        sr = '#s_row' + submittedid;
        sb = '#rvw' + submittedid;
        ap = '#appr' + submittedid;
        $('[id^=s_row]').hide()
        $('[id^=c_row]').hide()
        $(sb).hide();
        $(ap).show();
        $(cr).show();
        $(sr).show();

    }

    function session_resolve(submittedid, approved) {
        $.get("/session_resolve/", { session_id: submittedid, 'approved': approved });
        sr = '#s_row' + submittedid;
        $(sr).remove();
        $('[id^=s_row]').show()
        $('[id^=c_row]').hide()
    }


</script>

        {% endblock %}
