{% extends 'app/base.html' %}
{% block nav %}
  {% include 'app/BaseNav.html' %}
{% endblock %}
{% block title %}
    MC Member Info
{% endblock title %}
{% block name %}
    Member Information
{% endblock name%}
{% block content %}
    <div class="container text-center">
        <p class="fs-2 fw-bold">Personal Information</p>
        <br>
        {% if submitted %}
            Information was updated successfully!
        {% endif %}
        <div class="container" style="width: 400px;" >
            <form action="" method=POST >
                {% csrf_token %}
                {{ form.as_p }}
                <div class="container">
                    <input type="submit" value="Submit" class="btn btn-secondary my-4" />
                </div>
            </form>
        </div>
    </div>





{% endblock %}
