<section class="nav">
    <div data-v-4fe12f68="" class="container">
        <div data-v-3e7d76b1="" data-v-4fe12f68="" class="modal">
            <div data-v-3e7d76b1="" class="modal-background">

            </div>
        </div>
        <nav data-v-4fe12f68="" id="nav" class="navbar is-dark">
            <div data-v-4fe12f68="" class="navbar-brand">
                <a data-v-4fe12f68="" role="button" class="navbar-burger burger">
                    <span data-v-4fe12f68="" aria-hidden="true">

                    </span>
                    <span data-v-4fe12f68="" aria-hidden="true">

                    </span>
                    <span data-v-4fe12f68="" aria-hidden="true">

                    </span>
                </a>
            </div>
            <div data-v-4fe12f68="" class="navbar-menu">
                <div data-v-4fe12f68="" class="navbar-start">
                    <a data-v-4fe12f68="" class="navbar-item" href="{% url 'landing'%}">Home</a>
                    <a data-v-4fe12f68="" class="navbar-item" href="{% url 'member-reports'%}">Member Report</a>
                    {% if person.role >= 2 %}
                    <a data-v-4fe12f68="" class="navbar-item" href="{% url 'credit-reports' %}">Credit Report</a>
                    <a data-v-4fe12f68="" class="navbar-item" href="{% url 'award-reports' %}">Award Report</a>
                    {% endif %}
                    <a data-v-4fe12f68="" class="navbar-item" href="{% url 'logout' %}">Log Out</a>
                    <!---->
                </div>
            </div>
        </nav>
    </div>
</section>
