{% extends 'app/base.html' %}
{% block nav %}
  
{% endblock %}
{% block title %}
    MC Member Signout
{% endblock title %}
{% block name %}
    Signout
{% endblock name%}
{% block content %}
<div class="main">
    <div class="d-grid gap-2 mx-auto justify-content-center">
        <br><br><br>
        <p class="text-center fs-2 fw-bold">
            Welcome to the TRMN's Marksmanship Central
        </p>
        <br />
        <p class="text-center fs-3">
            Thank you for your participation in the <br> TRMN Marksmanship Program.
        </p>
        <br /><br />
                                                                                                                                                                                                                                                    <a type="button" href="{% url 'login'%}" class="btn btn-light"><h4>Return to Login</h4></a>
    </div>
</div>

{% endblock %}
{% block script %}
{% endblock %}
