{% extends 'app/base.html' %}
{% block nav %}
  
{% endblock %}
{% block title %}
    MC Member Info
{% endblock title %}
{% block name %}
    Member Information
{% endblock name%}
{% block content %}
    <div class="main">
        <br><br><br>
        <div class="d-grid gap-2 mx-auto justify-content-center">
            <p class="text-center fs-2 fw-bold">
                Welcome to the TRMN's Marksmanship Central
            </p>
        </div>
        <br />
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
            {% endfor %}
        {%endif%}
        <div class="d-grid gap-2 mx-auto justify-content-center">
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fw-bold">Username</label>
                    {{ form.email_address }}
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Password</label>
                    {{ form.passwrd }}
                </div>
               
                <div class="d-grid gap-2 mx-auto justify-content-center">
                    <button type="submit" class="btn btn-dark ">Login</button>
                </div>
            </form>
        

        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
